@page 
@model AAASecurity.Pages.Users.CreateModel
@{
}

<h2>Create User</h2>
<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group mb-3">
        <label asp-for="UserName" class="form-label"></label>
        <input asp-for="UserName" type="text" class="form-control shadow-sm"/>
        <span asp-validation-for="UserName"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="Password" class="form-label"></label>
        <input asp-for="Password" type="text" class="form-control shadow-sm" />
        <span asp-validation-for="Password"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" type="text" class="form-control shadow-sm" />
        <span asp-validation-for="Email"></span>
    </div>
    <button type="submit" class="btn btn-primary"> Create </button>
    <a asp-page="List" class="btn btn-secondary"> Return to List </a>
</form>