@model CreateTagViewModel

@{
    ViewData["Title"] = "Create Tag";
}

<h2>Create Tag</h2>

<form asp-controller="Tag" asp-action="CreateTag" method="post">
    <div class="form-group">
        <label asp-for="TagName"></label>
        <input asp-for="TagName" type="text" class="form-control mt-2" id="TagName"
         name="TagName" value="@Model.TagName" required />
         <span asp-validation-for="TagName"></span>
    </div>
    <input type="submit" class="btn btn-primary mt-3" value="Create" />
</form>

@if(Model.Errors.Count > 0)
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var error in Model.Errors)
            {
                <li>@error</li>
            }
        </ul>
    </div>

}