@using Microsoft.AspNetCore.Identity
@model List<IdentityRole>

<h2 class="mb-3">Role List</h2>

<table class="table table-bordered table-hover table-striped shadow text-center">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    @if (Model.Any())
    {
        foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>

                    <form asp-action="Delete" method="post" style="display:inline">
                        <input type="hidden" value="@item.Id" name="id" />
                        <button type="submit" class="btn btn-danger">Remove</button>
                    </form>
                </td>
            </tr>
        }
    }
</table>
<a asp-controller="Role" asp-action="Create" class="btn btn-success">  Create role </a>

